*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;

}

body{
    background-color: crimson;
}   

#wrapper{
    position: relative;
}

.client{
    display: flex;
    justify-content: space-around;
    margin: 1.5rem 0;
    background-color: #fff;
    padding: 1rem 0;
}
.client h1 a{
    text-decoration: none;
    color: pink;
}

 .client h1:last-of-type{
    border: 1px solid;
    border-radius: 10px;
    padding: 0.5rem ;
    background-color: #000;
    color: #fff;   
 }
 #sec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 5rem auto;
 }

.head{
    width: 90%;
    margin: 0 0.5rem;
}
.head h1{
    font-size: 50px;
}

.head button{
    margin-top: 1.5rem;
    background-color: #000;
    width: 30%;
    border-radius: 20px;
    font-size: 25px;
}
.head h1 span{
    color: aqua;
}

.head a{
    text-decoration: none;
    color: pink;
}

.image img{
    height: 300px;
    text-align: center;
    margin-top: 5rem;
    border-radius: 20px;
 }

 .clientright{
    position: absolute;
    top: 5rem;
    left: 15rem;
    border: 1px solid;
    width: 500px;
    height: 200px;
    background-color: #fff;
    display: none;
 }

 .clientright h3,input, .clear{
    padding: 1rem;
 }

 .clientright input{
    width: 400px;
 }
 .clear button{
    font-size: 25px;
 }

 .header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    padding: 2rem;
 }

 .header .list a{
    text-decoration:none ;
    color: #000;
    padding: 0 2rem;
    font-size: 20px;
 }

#wrapperhead{
    display: none;
}

#wrappercenter{
    background-color: darksalmon;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.center1{
    text-align: center;
}

.wlcm{
    padding-top: 5rem;
}
.topic{
    padding-top: 2rem;

}

.audio, .art, .code{
    width: 500px;
    text-align: center;
    margin: 1rem 0 0 25rem;
    padding: 1rem;
}

.audio{
    background-color: red;
}

.audio a, .art a, .code a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.art{
    background-color: green;
}

.code{
    background-color: blue;
}

.open button{
    background-color: yellow;
    border: 1px solid yellow;
    width: 200px;
    text-align: center;
    margin:1rem 0 0 35rem;
    padding: 1rem;
    font-size: 20px;
}

