* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;

}

body {
    background-color: aqua;
}

#wrapper {
    height: 100vh;
}

.top {
    border:1px solid;
    padding: 0.25rem;
    border-radius: 20px;
    background-color: palevioletred;
}

.header {
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    background-color: aliceblue;
}

.center {
    height: 80%;
    width: 80%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.read img {
    width: 60%;
    margin-left: 5rem;
    border-radius: 20px;
}

.take {
    width: 50%;

}

.take span{
    color: red;
}

.take a{
    text-decoration: none;
    border: 1px solid;
    color: #000;
    border-radius: 20px;
    padding: 0.25rem;
    background-color: crimson;
}

.take h1{
    padding-bottom: 2rem;
}

.read {
    width: 60%;
    position: relative;
}

.input {
    position: absolute;
    top: 5rem;
    right: 13.5rem;
    display: none;
}

#slide {
    height: 100vh;
    background-color: brown;
    display: none;
}

.slidehead {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
}

.slidecenter a {
    text-decoration: none;
    padding-left: 1rem;
    color: #000;
}

.sectionset {
    width: 40%;
    margin: 1rem auto;
}

.welcome h3 {
    padding: 1rem 0;
}

.welcome h4 {
    padding: 0.25rem 0;
}

#page3 {
    display: none;
}